---
import Container from "./Container.astro";

const currentYear = new Date().getFullYear();
---

<footer class="py-5 text-sm">
  <Container class="flex justify-center">
    <p>© {currentYear} Spellworc</p>
  </Container>
</footer>
