---
import Container from "@components/Container.astro";
import SwWordmark from "@assets/SwWordmark.astro";
---

<header
  class="fixed inset-x-0 top-0 z-50 bg-stone-100/75 py-2 saturate-200 backdrop-blur-sm dark:bg-stone-900/25"
>
  <Container class="flex justify-center">
    <div class="">
      <div class="w-36"><SwWordmark /></div>
      <nav></nav>
    </div>
  </Container>
</header>
