---
import Icons from "@components/icons/Icons";

// type IconSet = "outline" | "solid" | "mini" | "micro" | "brand";

interface Props {
  set?: keyof typeof Icons;
  name: keyof typeof Icons.outline | keyof typeof Icons.brand;
  label?: string;
  colour?: string;
  size?: string;
  class?: string;
  title?: string;
}

const icons = Icons as any;

const {
  name,
  set = "outline",
  label,
  size = "1em",
  colour,
  title,
} = Astro.props;

const a11yAttrs = label
  ? ({ "aria-label": label } as const)
  : ({ "aria-hidden": "true" } as const);

let viewBox;

switch (set) {
  case "outline":
    viewBox = "0 0 24 24";
    break;
  case "solid":
  case "brand":
    viewBox = "0 0 24 24";
    break;
  case "mini":
    viewBox = "0 0 20 20";
    break;
  case "micro":
    viewBox = "0 0 16 16";
    break;
  default:
    break;
}

const svgTitle =
  Astro.props.title !== undefined ? title : name.replaceAll("-", " ") + " icon";
---

<svg
  {...a11yAttrs}
  class:list={[
    { "size-6 fill-none stroke-current stroke-[1.5]": set === "outline" },
    { "size-6 fill-current": set === "solid" || set === "brand" },
    { "size-5 fill-current": set === "mini" },
    { "size-4 fill-current": set === "micro" },
    `icon ${Astro.props.class}`,
  ]}
  {viewBox}
  {...Astro.props}
  set:html={`<title>${svgTitle}</title> ${icons[set][name]}`}
/>
