---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"svg">;

const { ...attrs } = Astro.props;
---

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2048 2048" {...attrs}>
  <title>The Spellworc logo</title>
  <path
    fill="#ffac33"
    d="M1024 126.9c-60.88 117.2-146.52 187.31-202 283.78-118.73 3.8-183.97 63.07-209.62 158.38-67.85-40.65-154.94 14.14-365.29 6.4C318.15 686.77 336.04 796 391.84 892.28 335.78 997 354.5 1083.14 424.2 1153.01c-69.13 38.43-65.22 141.24-177.11 319.54 131.94-5.87 235.48 33.24 346.77 33.06 62.65 100.9 146.6 127.78 241.97 102.33-1.28 79.09 89.7 127.11 188.17 313.16 60.88-117.2 146.53-187.31 202.02-283.78 118.71-3.8 183.95-63.07 209.6-158.38 67.85 40.65 154.94-14.14 365.29-6.4-71.06-111.32-88.95-220.54-144.75-316.83 56.06-104.71 37.35-190.85-32.36-260.72 69.13-38.43 65.22-141.24 177.11-319.54-131.94 5.87-235.47-33.24-346.76-33.06-62.65-100.9-146.6-127.78-241.97-102.33 1.28-79.09-89.7-127.11-188.17-313.16z"
  ></path>
  <path
    fill="#4a0548"
    d="M1024 325.41c49.06 84.97 117.47 139.35 78.24 260.29 99.12-72.84 187.54-71.08 225.71-23.38-28.32 9.28-57.74 22.23-88.77 40.15-197.63 114.1-216.36 334.85-187.13 345.65 29.22 10.8 97.35-164.78 243-248.87 126.6-73.1 228.2-19.74 333.95-24.54-49.06 84.96-61.95 171.4-186.3 197.89 112.64 49.42 155.33 126.87 133.1 183.78-22.2-19.88-48.12-38.88-79.16-56.8-197.63-114.1-398.16-19.95-392.9 10.77 5.26 30.71 191.38 1.92 337.03 86.01 126.6 73.1 131.19 187.75 188.23 276.93-98.11 0-179.42 32.06-264.53-62.39 13.52 122.26-32.22 197.95-92.62 207.16 6.12-29.16 9.61-61.11 9.61-96.95 0-228.2-181.8-354.8-205.76-334.88-23.97 19.91 94.02 166.7 94.02 334.88 0 146.2-97 207.49-145.72 301.48-49.05-84.97-117.47-139.35-78.23-260.29-99.12 72.84-187.54 71.08-225.72 23.38 28.32-9.28 57.74-22.24 88.77-40.15 197.63-114.1 216.36-334.85 187.14-345.65-29.23-10.8-97.36 164.78-243 248.87-126.62 73.1-228.2 19.74-333.96 24.54 49.06-84.96 61.95-171.4 186.3-197.89-112.64-49.42-155.33-126.87-133.1-183.78 22.2 19.88 48.12 38.88 79.16 56.8 197.63 114.1 398.16 19.95 392.9-10.77-5.26-30.71-191.38-1.92-337.03-86.01C480.63 878.54 476.04 763.89 419 674.7c98.11 0 179.42-32.06 264.53 62.39-13.52-122.27 32.22-197.96 92.62-207.16-6.12 29.16-9.6 61.11-9.6 96.95 0 228.2 181.8 354.8 205.76 334.88 23.97-19.91-94.02-166.7-94.02-334.88 0-146.2 97-207.49 145.72-301.48z"
  ></path>
</svg>
